go 1.22.0

use (
	./services/approval-service
	./services/audit-service
	./services/auth-service
	./services/budget-service
	./services/document-service
	./services/notification-service
	./services/reporting-service
	./services/spd-service
	./shared
	./tools/etl
)
